@import 'colors';
@import 'type';

.SaleItem {
  background: $white;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $off-white;
  align-items: center;

  &:last-child {
    border-bottom: none;
  }

  transition: background-color 0.1s ease-in-out;

  &:hover {
    background: rgba(93, 193, 96, 0.1);
  }
}

.SaleItemName {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: $black-70;

  padding: 0 0.25rem;
  width: 30%;
}

.SaleItemPreparedFor {
  width: 30%;
}

.SaleItemDateCreated {
  width: 20%;
}

.SaleItemSectionHeader {
  @extend label;
  margin-bottom: 2px;
}

.SaleItemSectionText {
  @extend subheading;
  margin-top: 2px;
}

.SaleItemMoreButton {
  margin-left: 10%;
  text-align: right;
  padding: 5px;
  font-size: 20px;
  color: $black-70;
  cursor: pointer;
}

.SaleItemMoreMenu {
  border: thin solid $black-20;
  position: absolute;
  right: 4%;
  background: white;
  display: none;
}

.SaleItemMoreMenuOpen {
  display: block;
}

.SaleItemMoreMenuItem {
  cursor: pointer;
  padding: 5px 15px;
  background-color: white;
  &:hover {
    background-color: $offer-white;
  }
}
