.imageList button.selected {
  border: 3px solid green;
}

.imageList .image {
  height: 100px;
  width: auto;
  margin: 0 auto;
}

.imageList .imageContainer {
  padding: 5px;
  display: inline-block;
  border: thin solid black;
  min-width: 100px;
}
